<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Aeronautica</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link text-white" href="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/vuelos">Vuelos</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/reservaciones">Reservaciones</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/vuelos/nuevo">Agregar vuelo</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/reservaciones/nueva">Nueva reserva</a></li>
      </ul>

    </div>
  </div>
</nav>


