<%- include('partials/header', {titulo: titulo}) %>
<div style="height: 420px;">
    <p>Bienvenido al sistema de reservaciones de vuelos. Usa el menú para navegar.</p>

</div>
<%- include('partials/footer') %>
