<%- include('partials/header', {titulo: titulo}) %>
<form action="/vuelos/nuevo" method="POST">
  <div class="form-floating mb-3">
    <input type="text" class="form-control bg-dark text-white" id="floatingCode" name="code" placeholder="Código" required>
    <label for="floatingCode" class="text-white">Código</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control bg-dark text-white" id="floatingOrigin" name="origin" placeholder="Origen" required>
    <label for="floatingOrigin" class="text-white">Origen</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control bg-dark text-white" id="floatingDestination" name="destination" placeholder="Destino" required>
    <label for="floatingDestination" class="text-white">Destino</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control bg-dark text-white" id="floatingDeparture" name="departure" placeholder="YYYY-MM-DD HH:MM" required>
    <label for="floatingDeparture" class="text-white">Fecha y hora</label>
  </div>

  <div class="form-floating mb-3">
    <input type="number" class="form-control bg-dark text-white" id="floatingSeats" name="seats_total" placeholder="Asientos totales" required>
    <label for="floatingSeats" class="text-white">Asientos totales</label>
  </div>

  <button class="btn btn-success">Crear</button>
</form>


<%- include('partials/footer') %>
